body {
  background-color: #f2f5f1;
}

.nav-bar {
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  background: white;
}

.logo-img {
  float: left;
  width: 150px;
  position: relative;
  left: 150px;
  }

.enlaces {
  margin-right: 150px;
}

.enlaces a {
  font-weight: 600;
  color: black;
  float: right;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.main {
  margin-top: 66.5px;
  width: 1250px;
  margin-left: auto;
  margin-right: auto;
}

.hero {
  background: url("fotos/brooke-lark-kXQ3J7_2fpc-unsplash.jpg") center;
  background-size: cover;
  width: 1250px;
  height: 500px;
}
