body {
  background-color: #f2f5f1;
}

.web {
  max-width: 1300px;
  min-height: 100vh;
  border: 5px solid red;
  margin-left: auto;
  margin-right: auto;
}

.header-container {
  width: 100%;
  border: 5px solid blue;
  height: auto;
  position: sticky;
  top: 0;
  left: 0;

}

.header {
  background-color: #f2f5f1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 5px solid green;
}

.header-logo-img {
  display: flex;
}

.header-nav-links {
  display: flex;
}

.header-nav-links ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.header-nav-links a {
  padding: 8px 16px;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.hero-container {
  width: 100%;
  border: 5px solid gold;
  height: 500px;
}

.hero-div-container-img {
  display: grid;
  grid-template-columns: minmax(240px, 1fr);
  height: 100%;
  border: 5px solid purple;
  background: url("fotos/brooke-lark-kXQ3J7_2fpc-unsplash.jpg") center;
  background-size: cover;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.hero-title {
  font-size: 80px;
}

.nosotros {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
}

.nosotros-contenido1 {
display: grid;
grid-template-columns: 1fr 1fr;
justify-items: center;
align-items: center;
grid-gap: 1em;
}

#img-contenido1 {
  max-width: 300px;
}

.text-contenido1 {
  text-shadow: 1px black;
}

.text-contenido1 h1 {
  font-size: 25px;
}

.nosotros-contenido2 {
margin-top: 25px;
display: grid;
grid-template-columns: 1fr 1fr;
justify-items: center;
align-items: center;
grid-gap: 1em;
}

.text-contenido2 {
  margin-right: 95px;
}

#img-contenido2 {
  max-width: 400px;
  margin-right: 90px;
}

.text-contenido2 p {
  text-align: right;
}

.text-contenido2 h1 {
  text-align: right;
  font-size: 25px;
}

.productos {
  width: 100%;
  height: 600px;
  border: 5px solid pink;
  padding-top: 75px;
}
.productos-container {
  /*display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
  justify-items: center; */
  display: flex;
  justify-content: center;
  border: 5px solid red;

}

.box {
  width: 300px;
  height: 550px;
  border: 5px solid blue;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  flex: 1;
}

.producto1-container {

}

.img-producto {
  width: 100%;
}
